body,
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  /* background-color: #2d3748; */
  /* color: #fff; */
}
main {
  display: flex !important;
  flex-flow: column nowrap;
}
